@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width: 768px) {
    .trending {
    text-align: center;
    justify-content: center;
     align-items: center;
     padding-right: 8em;
     padding-right: 5em;
    }
    .list {
        width: 40%;
        display: flex;
    }
    .wallpaper {
        height: 70vh;
    }
    .form {
        padding-top: 2em;
    }
}